<app-navbar></app-navbar>

<section class="container">
  <b>Framework Angular </b>
  <section class="flex">
    <p>Angular es una plataforma y un framework para crear aplicaciones de una sola página en el lado del cliente usando HTML y TypeScript. Angular está escrito en TypeScript. Implementa la funcionalidad básica y opcional como un conjunto de bibliotecas TypeScript que importas en tus aplicaciones.
    </p>
    <figure><img src="../../assets/angular.png" alt=""></figure>
  </section>
</section>